// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$shodan-dark-primary: mat-palette($mat-blue-grey);
$shodan-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$shodan-dark-warn:    mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
$shodan-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $shodan-dark-primary,
      accent: $shodan-dark-accent,
      warn: $shodan-dark-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shodan-dark-theme);

$shodan-light-primary: mat-palette($mat-indigo);
$shodan-light-accent: mat-palette($mat-red, A200, A100, A400);
$shodan-light-warn: mat-palette($mat-red);

$shodan-light-theme: mat-light-theme(
  (
    color: (
      primary: $shodan-light-primary,
      accent: $shodan-light-accent,
      warn: $shodan-light-warn,
    ),
  )
);

.lightMode {
  @include angular-material-color($shodan-light-theme);
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.row {
  margin: 1em 1em !important;
}

mat-card {
  margin: 0.5em;
}

.header {
  margin: 0 1.25rem 0 1.25rem;
}

//Thin scrollbar, only works in Google Chrome.
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #75777d;
}

::-webkit-scrollbar-thumb:hover {
	background: #6f7075;
}

.position-static {
	position: static;
}

.margin {
  margin: 1em;
}

.banner {
  margin: -2.5em -1em !important;
  background-color: #607d8b;
  // #899a87
}

.mat-form-field-underline {
  background-color:#3c3c3c !important;
}

.mat-form-field-label {
  color: #3c3c3c !important;
}

.mat-hint {
  color: #3c3c3c !important;
}

.mat-focused .mat-form-field-label {
  color: #607d8b !important;
}

.mat-focused .mat-hint {
  color: #607d8b !important;
}

.mat-select-value {
  color: #3c3c3c;
}


