<!-- Toolbar -->

<div class="toolbar" role="banner" style="background-color: #1e1e29;  ">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content main-body" role="main" style="background-color: #1e1e29; ">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
</div>

<div class="content main-body" role="main" style="justify-content: space-evenly; background-color: #1e1e29;">
  <div class="card col-4" style="display:block; align-items: center; height: 622px;">
    <div class="card-header">
      <h3 class="card-title">Search Query</h3>
    </div>
    <app-query-form (searchQuery)="searchDevices($event)" class="col-12">
    </app-query-form>
    <div class="card-header" style="margin-top: 30px;">
      <h3 class="card-title">Last Queries</h3>
    </div>
    <app-divisor (searchQuery)="searchDevices($event)" class="col-12"></app-divisor>
  </div>
  <div class="card col-7" style="align-items: center;display:block;">
    <div class="card-header">
      <h3 class="card-title">Found hosts</h3>
    </div>
    <app-filtro [data]="dataSource" [isTableFilter]="true" class="col-12"></app-filtro>
    <app-tabla *ngIf="!loading" [data]="dataSource" [displayedColumns]="displayedColumns" [hasPaginator]="true" class="col-12">
    </app-tabla>
  </div>
</div>

<!-- Footer -->
<footer class="footer main-body" style="background-color: #1e1e29;">
  <!-- Love Angular?&nbsp;
  <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
    <div class="github-star-badge">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /></svg>
      Star
    </div>
  </a>
  <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
      <path d="M0 0h24v24H0z" fill="none" /></svg>
  </a> -->
</footer>
