<div class="row" style="height: 100%;">
  <!-- Highlight Card -->
  <mat-tab-group (selectedTabChange)="loadTabData($event)" class="col-12">
    <mat-tab label="Home">
      <div class="row" style="justify-content: left;">
        <div class="col-8">
          <mat-card style="display:block; align-items: center; max-height: 226.56px;">
            <div class="header">
              <h3 class="card-title">Search Query</h3>
            </div>
            <app-query-form (searchQuery)="searchDevices($event)">
            </app-query-form>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card style="align-items: center;display:block; min-height: 226.56px;">
            <div class="header">
              <h3 class="card-title">Last Queries</h3>
            </div>
            <app-divisor (searchQuery)="searchDevices($event)"></app-divisor>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-card style="align-items: center;display:block;">
            <div class="header">
              <h3 class="card-title">Found Hosts</h3>
            </div>
            <app-filtro *ngIf="!loading" (updateWordlists)="updateWordlists($event)" [wordlists]="wordlists"
              [data]="dataSource" [isTableFilter]="true"></app-filtro>
            <app-tabla *ngIf="!loading" (reloadTable)="getHackedDevices()" [wordlists]="selectedWordlists" [type]="0"
              [data]="dataSource" [displayedColumns]="displayedColumns" [hasPaginator]="true" >
            </app-tabla>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Reports">
      <div class="row">
        <mat-card class="col-12" style="align-items: center;display:block;">
          <div class="header">
            <h3 class="card-title">Hacked hosts</h3>
          </div>
          <app-filtro *ngIf="!loadingTab2" [data]="dataSourceTab2" [isTableFilter]="false" class="col-12"></app-filtro>
          <app-tabla *ngIf="!loadingTab2" [type]="1" [data]="dataSourceTab2" [displayedColumns]="displayedColumnsTab2"
            [hasPaginator]="true" class="col-12">
          </app-tabla>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Import Files">
      <div class="row">
        <mat-card class="col-12" style="align-items: center;display:block;">
          <div class="header">
            <h3 class="card-title">Import wordlist</h3>
          </div>
          <app-import-files></app-import-files>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
