<div class="form-style" [ngClass]="isTableFilter ? 'col-12' : 'col-4'" style="margin-bottom: 2em;">
  <mat-form-field [ngClass]="isTableFilter ? 'col-5' : ''">
    <input placeholder="Filter" matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <mat-form-field *ngIf="isTableFilter" class="col-3">
    <mat-label>Select user wordlist</mat-label>
    <mat-select [(value)]="userWordlist" (selectionChange)="updateWordlistEvent()">
      <mat-option *ngFor="let wordlist of wordlists; let index = i" [value]="wordlist">
        {{wordlist}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="isTableFilter" class="col-3">
    <mat-label>Select password wordlist</mat-label>
    <mat-select [(value)]="passWordlist" (selectionChange)="updateWordlistEvent()">
      <mat-option *ngFor="let wordlist of wordlists; let index = i" [value]="wordlist">
        {{wordlist}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
