.mat-dialog-content {
  background-color: #27293d;
}

.mat-dialog-container {
  background-color: #27293d;
}

.dialog {
  overflow: hidden !important;
}

.title {
  color: lightgrey;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
